body {
	background-image: url(noodleLandingPhoto.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}

p {
	font-family: 'BioRhyme', serif;
	text-align: left;
	color: #FFFFFF;
	font-size: 70px;
}

.teaserText {
	float: right;
	margin-right: 36px;
	margin-top: 40px;
}